/* .hero {
  width: 100%;
  min-height: 100vh;
  background: linear-gradient(rgba(8, 0, 58, 0.4), rgba(8, 0, 58, 0.4)),
    url("../../assets/imagee.png");
  background-size: contain;
  background-position: center;
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
}
.hero-txt {
  width: 700px;
  text-align: start;
  margin-right: 200px;
  margin-bottom: 50px;
}
.hero-txt h1 {
  font-size: 55px;
  font-weight: 700;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
}
.hero-txt h3 {
  font-size: 30px;
}
.hero-txt p {
  font-size: 15px;
  font-weight: 550;
  font-style: italic;
}
.hero-txt button {
  margin-top: 20px;
} */

/* Hero.css */

@import url("https://fonts.googleapis.com/css2?family=Kalam:wght@300;400;700&display=swap");
.hero {
  width: 100%;
  min-height: 100vh;
  background: linear-gradient(rgba(8, 0, 58, 0.4), rgba(8, 0, 58, 0.4)),
    url("../../assets/imagee.png");
  background-size: cover; /* Change to cover for better responsiveness */
  background-position: center;
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0 20px; /* Add padding to the sides */
}

.hero-content {
  max-width: 700px;
  width: 100%;
  text-align: left;
  margin-top: 230px;
  margin-right: 405px; /* Center text on smaller screens */
}

.hero-content h1 {
  font-size: 50px; /* Decrease font size for smaller screens */
  font-weight: 700;

  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
}

.hero-content h3 {
  font-size: 25px;
}

.hero-content p {
  font-size: 14px;
  font-weight: 500;
  font-style: italic;
}

.hero-content button {
  margin-top: 20px;
}
