@import url("https://fonts.googleapis.com/css2?family=Kalam:wght@300;400;700&display=swap");
.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;

  padding: 10px 20px;
  font-family: "Kalam", cursive;
  height: 60px;
  position: fixed;
  z-index: 10;
  width: 100%;
  cursor: pointer;
}

.nav-links {
  list-style: none;
  display: flex;
  font-size: 20px;
}

.nav-links li {
  margin-right: 7ch;

  margin-top: 13px;
}

.nav-links li a {
  color: rgb(0, 0, 0);
  text-decoration: none;
  transition: color 0.3s ease;
  margin-right: 20px;
}

.nav-links li a:hover {
  color: #cac3c3;
}

img {
  width: 170px;
  height: 100px;
  margin-top: 15px;
  margin-left: 20px;
}
.btn {
  background-color: #ffffffa7;
  color: white;
  padding: 8px 20px;
  font-size: 20px;
  border-radius: 30px;
  cursor: pointer;
  border: none;
  margin-right: 20px;
  height: auto;
  outline: 0;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.btn:hover {
  background-color: #222;
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.3);
}
.dark-nav {
  background-color: rgba(9, 92, 226, 0.873);
  transition: 0.6s ease-in-out;
}
